@import '~bootstrap/scss/bootstrap';

$fa-font-path: "~font-awesome/fonts";

@import "~font-awesome/scss/font-awesome";

.ratio-5x3 {
    --bs-aspect-ratio: calc(3 / 5 * 100%);
  }
.contentBackground{
    background-color: beige;
  }
.headerBackground{
  background-color: #63d471;
  background-image: linear-gradient(300deg, #4c9f56 0%, #2c4837 31%);
}
.darkGreenBack{
  background-color: #2c4837
}
.darkGreenText{
  color: #2c4837
}
.green-text{
  color: #44884c;
}